html,
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background-color: #333;
}

.true {
  color: #a3be8c;
}

.false {
  color: #bf616a;
}

.content {
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.txt-center {
  text-align: center;
}
